<!DOCTYPE html>
<html>
<style>
    body {
        text-align: center;
    }
</style>
<head>
    <title>Homepage</title>
</head>
<body>
     <section id="home">
        <div class="container">
            <div class="home-content">
                <h2>WELCOME TO VASQUEZ BLOOD DONATION CENTER</h2>
                <p>BLOOD FOR ANYONE, ANYWHERE</p>
                <a href="#categories" class="btn">DONATE NOW</a>
            </div>
        </div>
    </section>
    <p><a href="{% url 'account_create' %}">JOIN US NOW !</a></p>
</body>
</html>